.box{
    width: 60px;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 140px;
}