#bmwbody{
    background-color: bisque;
    font-family: cursive;
}
.head1{
    text-align: center;
}
.section1{
    text-align: end;
}
.aside1{
    text-align: end;
}
.footer1{
    text-align: center;
}
img{
    border: 30px solid black;
    border-style: double;
}