.hand{
    height: 100px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
    animation-name: wave;
    animation-timing-function: cubic-bezier(.47, 1.64, .41, .8);
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}
body{
    background-color: darkgrey;
}
@keyframes wave {
    0%{
        transform: (0 , 0);
    }
    50%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}